<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="DaemonDeckSuite" verbose="1" >
    <test name="DaemonDeckTests" >
        <classes>
            <class name="io.github.ceakins.gamedaemondeck.db.ConfigStoreTest" />
            <class name="io.github.ceakins.gamedaemondeck.core.DiscordServiceTest" />
            <class name="io.github.ceakins.gamedaemondeck.util.SteamManagerTest" />
            <class name="io.github.ceakins.gamedaemondeck.util.TelnetClientManagerTest" />
            <class name="io.github.ceakins.gamedaemondeck.util.RCONClientManagerTest" />
            <class name="io.github.ceakins.gamedaemondeck.util.DefaultWebhookSenderTest" />
            <class name="io.github.ceakins.gamedaemondeck.core.DaemonDeckAppTest" />
        </classes>
    </test>
</suite>
